@use '../styles/variables' as *;

.checkout{
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;

    &__title{
        font-family: $font-serif;
        font-size: 2.5rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    .checkout-summary{
            background-color: #f9f8f6;
            padding: 2rem;
            border-radius: 15px;
            height: fit-content;
            
            h2{
                font-family: $font-serif;
                margin-bottom: 1.5rem;
            }

            .total{
                font-size: 1.4rem;
                font-weight: bold;
                margin: 1.5rem;
            }
        }
        .qty{
            display: inline-flex;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 30px;
            overflow: hidden;
            

            .qty-btn{
                background: none;
                border: none;
                 padding: .4rem .9rem;
                cursor: pointer;
                transition: background 0.2s ease;
                 &:hover{
                background-color: #f0f0f0;
            }
            }
            .qty-value{
                padding:0 0.7rem;
                font-size: 0.95rem;
                font-family: $font-sans;
                text-align: center;
            }
        }
    
    .download{
            background-color: #111;
            color: white;
            //padding:0.7rem 1.6rem;
            font-size: .95rem;
            border-radius: 30px;
            letter-spacing: .02em;
            width: 100px;
            text-align: center;


            &:hover{
                background-color: #333;
            } 
        }
            .clear-cart{
                background: none;
                border: 1px solid #ccc;
                color: #555;
                border-radius: 30px;
                
                &:hover{
                    background-color: #f5f5f5;
                    border-color: #999;
                }
            }

}
.checkout-card{
    display: flex;
    gap:1.5rem;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e5e5e5;

    img{
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
    }
    &__info{
        h2{
            font-family: $font-serif;
            font-size: 1.2rem;
            margin-bottom: 0.3rem;
        }
        .artist{
            font-size: 0.9rem;
            color: #777;
        }
        .price{
            margin-top: 0.5rem;
            font-weight: bold;
        }

}
    
        
        
            
        
    }
    
  
