@use '../styles/variables' as *;

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.gallery-card{
    background: #f7f6f3;
    border-radius: 16px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
     transition: transform 0.3s ease, box-shadow 0.3s ease;

     &:hover{
        transform: translateY(-6px);
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
     }
     
     img{
        width:100%;
        height: 280px;
        object-fit: cover;
     }
}