@use '../styles/variables' as *;

.home-page {
 
   background: linear-gradient(to bottom, #FEF3C5, #fde68a);
  min-height: 20%;
  width: 100%;
  padding: 3rem 0;
  font-family: $font-sans;
  .AGA-Banner{
    width: 99%;
    border-radius: 10px;
    align-content: center;
  }
  h1 {
    text-align: center;
    font-size: 3rem;
    color: #2c2c2c;
    margin-bottom: 2rem;
    font-family: $font-serif;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;

    @media (min-width: 768px) {
      flex-direction: row;
      max-width: 80%;
    }

    
  }

  .slideshow {
    margin-top: 5%;
    background-color: #fef6d5;
    display: flex;
    flex-wrap: wrap; 
    gap: 8rem;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    min-height: 200px;
    max-width: 1200px;

  }
  
  
  .album{
    
    //background-color: #2c2c2c;
    max-width: 300px;
    height: 200px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.473);
    flex-shrink: 0;

    .album-img{
      //margin-top: 2px;
      height: 200px;
      width: 300px;
      border-radius: 8px;
    }
  }
  

  


}
