@use '../styles/variables' as *;

.enter-gallery{
    padding: 250px;
    margin-left: 250px;
   font-family: $font-sans;
   .enter-subtitle{
        font-family: $font-sans;
        font-style: italic;
    }
}
 button{
    font-family: $font-serif;
    border-radius: 10px;
    font-weight: 500;
    padding: 5px;
    margin-left: 100px;
    background-color: whitesmoke;
    width: 50px;
    height: 30px;
    position: relative;
    z-index: 2;
 }
 button ::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(to bottom, #fde68a ,#8BA2FD);
    transition: all 0.6s ease;
    opacity: 0;
    transform: scale(0);

 }
 button :hover{
    border: 15px;
    transform: rotate(15deg);
 }

 button :hover::before{
    opacity: .5;
    transform: scale(2);
 }