@use "../styles/variables" as *;

.navbar{
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 padding: 1rem 0;
 background-color: #8BA2FD;
 color: white;
 z-index: 1000;
 box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);

}

.navbar_container{
   max-width: 1200px;
   height: 50px;
   padding: 0 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar_brandname{
    
    font-size: 45px;
    letter-spacing: 1px;
    
    a{
        color: white;
        text-decoration: none;
        font-family: $font-serif;

    }
     
}
.nav-link{
    font-family: $font-sans;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;

    
}